# Ignore data folders
D:\Smart flood warning system\Code\Code measuring station\Tram_do\Du_lieu_tram_do

# Ignore data folders
D:\Smart flood warning system\Code\Code main station\TramKiemSoat\Du_lieu_tram_kiem_soat

